.main-header {
    position: fixed;
    display: inline-block;
    vertical-align: middle;
}

.main-navigaton {
    display: inline-block;
    vertical-align: middle;
}

.main-items {
    display: inline-block;
    vertical-align: middle;
}

.main-item {
    display: inline-block;
    padding: 20px;
    border: 1px solid;
}

.main-image__itlogo img {
    display: block;
    width: 50px;
    padding: 10px;
}