* {
    font-family: sans-serif;
}

.ustozlar-main {
  color: #005128;
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
}

.ustozlar {
  font-size: 30px; 
  text-align: center;
  color: #036333;
  font-weight: 600;
  padding-bottom: 20px;
}

.kasbi {
  color:#005128;
  font-size: 18px;
  letter-spacing: 1px;
}

.cards {
  margin: 30px auto;
  text-align: center;
  width: 1340px;
  height: 510px;
  box-sizing: border-box;
  padding-bottom: 100px;
}


.card {
  width: 30%;
  height: 100%;
  background-color: rgb(247, 250, 250);
  overflow: hidden;
  float: left;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  border-radius: 12px;
  margin-right: 3%;
}

.card .card-image {
  width: 100%;
  height: 85%;
  border-radius: 12px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 34, 14, 0.425);
  transform: translateY(-6px);
}

.card h2 {
  font-size: 20px;
  margin-top: 18px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}