* {
    font-family: sans-serif;
}


h1 {
    text-align: center;
   font-size: 50px;
}

.text {
    text-align: center;
}

/* .rasmlar {
    margin-left: 30%;
    display: flex;
    gap: 30px;
    text-align: center;
} */

.ustozlar {
    font-size: 30px; 
    text-align: center;
}

.cards {
    margin-left: 20%;
    display: flex;
    gap: 20px;
    width: 1000px;
    
}
.kasbi {
  color: rgb(29, 250, 8);
}

.card {
  display: inline-block;
  width: 33%;
  background-color: #ff020200;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  background: #dadada;
  padding-bottom: 25px;
  box-sizing: border-box;
  transition: 0.3s ease;
  box-shadow: 0.3s ease;
  transform: 0.3s ease;
}

.card:hover {
  box-shadow: 0 18px 40px rgba(0,0,0,0.18);
  transform: translateY(-6px);

}

.card h2 {
  font-size: 20px;
  margin-top: 18px;
}

.card p {
  font-size: 14px; 
  margin-top: 4px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}