* {
    font-family: sans-serif;
}


h1 {
    text-align: center;
   font-size: 50px;
}

.text {
    text-align: center;
}

.ustozlar-main {
  color: #005128;
}

.ustozlar {
    font-size: 30px; 
    text-align: center;
    color: #036333;
    font-weight: 600;
    padding-bottom: 5%;
}


.cards {
    margin: 100px auto;
    display: flex;
    width: 1340px;
    box-sizing: border-box;
    border: 1px solid red;
}

.kasbi {
    color:#005128;
}

.card {
  display: inline-block;
  width: 33%;
  background-color: rgb(247, 250, 250);
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 25px;
  box-sizing: border-box;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  width: 360px;
  border-radius: 12px;
  margin-right: 20px;
}

.card:hover {
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
  transform: translateY(-6px);
}

.card h2 {
  font-size: 20px;
  margin-top: 18px;
}

.card p {
  font-size: 14px; 
  margin-top: 4px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}