h1 {
    text-align: center;
   font-size: 50px;
}

.text {
    text-align: center;
}

.rasmlar {
    margin-left: 30%;
    display: flex;
    gap: 30px;
    text-align: center;
}

.ustozlar {
    font-size: 30px; 
    text-align: center;
}

.cards {
    margin-left: 20%;
    display: flex;
    gap: 20px;
    width: 1000px;
    
}

.card {
  display: inline-block;
  width: 33%;
  background: #ff020200;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(220, 7, 7, 0.08);
  overflow: hidden;
  text-align: center;
  padding-bottom: 25px;
  border: 1px solid #811414;
  box-sizing: border-box;
}

.card h2 {
  font-size: 20px;
  margin-top: 18px;
  color: #0353ff;
}

.card p {
  font-size: 14px;
  color: #2a00fe;
  margin-top: 4px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 1px solid #ff0000;
}

